*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    user-select: none;
}

/* Header */

header {
    background-color:rgb(97, 165, 247);
    min-height: 80px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0%;
    z-index: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color:rgb(97, 165, 247);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

header .H-logo img {
    display: flex;
    height: 60px;
    margin-right: 10px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a{
    font-size: 25px;
    color: black;
    margin-left: 30px;
    border-radius: 5px;
}

.H-logo{
    display: flex;
    align-items: center;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}
/* Body */

body {
    margin: 0;
    background-color: bisque;
    font-family: sans-serif;
    color: black;
    position: relative;
    min-height: 100vh;
    /*padding-bottom: 3em;*/
}

/* Main*/

main {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

/* Index*/

.indexContainer{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: black;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.5);
}

/*Boton*/
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color:bisque;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(83, 83, 83);
  border: .05rem solid #fff;
}

/*Us*/
.nosotros-2{
    text-align: center;
    line-height: 1.5;
 }

/* Services*/

.services{
    margin: 90px auto;
    text-align: center;
}

.container-services h1{
    font-family: sans-serif;
    letter-spacing: 1px;
}

.container-services h1::after{
    content: "";
    background: black;
    display: block;
    width: 250px;
    height: 3px;
    margin: 10px auto;
}

/*
.img-services{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
} */

/* Location */


/* Contact */

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;

}

.container-form ul img {
    width: 20px;
    height: 20px;
}

.container-form ul{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form div input, textarea{
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(221, 218, 218);
    color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

/* Footer */

.container-footer{
    bottom: auto;
    width: 100%;
    height: 100%;
    background: bisque;
    padding: 0 50px;
    margin-top: auto;
    text-align: center;
}


.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
    justify-content:space-between;
}

.container-footer footer .redes-footer img {
    margin: 20px;
    background: bisque;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
