@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

@media (max-width:700px) {
    main{
        flex-direction: column;
        width: 100%;
        margin-top: 250px;
    }
}

@media (max-width:700px) {
    .map{
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    iframe{
        width: 340px;
        height: 350px;
    }
}

@media (max-width:500px) {
    footer{
        flex-direction: column;
        width: 100%;
}
}