.container-us{
    text-align: center;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
 }

.container-us p{
    margin-top: 10px;
}

.container-us h2::after{
    content: "";
    background: black;
    display: block;
    width: 250px;
    height: 3px;
    margin: 15px auto;
}

.container-us img{
    margin-top: 10px;
}
