.container-us{
    text-align: center;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;

    p{
    margin-top: 10px;
    }

    h2::after{
    content: "";
    background: black;
    display: block;
    width: 250px;
    height: 3px;
    margin: 15px auto;
    }

    img{
    margin-top: 10px;
    }
}