*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    user-select: none;
}

a:link , a:visited , a:active {
    text-decoration: none;
    transition: .5s;
}

@import "header";
@import "body";
@import "main";
/*Pages*/
@import "index";
@import "us";
@import "services";
@import "location";
@import "contact";

@import "footer";
@import "media";

